<!DOCTYPE html>
<html>

<head>
    <title>Start Admin</title>
    {include file="common/header"/}
    <div style="margin-top:5%;text-align: center;">
        <img src="/static/StartAdmin/StartAdmin.png" width="500px" /><br>
        <el-link href="https://gitee.com/hamm/StartAdmin" target="_blank" :underline="false">StartAdmin</el-link>
        <el-link href="https://element.eleme.cn/" target="_blank" :underline="false">ElementUI</el-link>
        <el-link href="https://cn.vuejs.org/v2/api/" target="_blank" :underline="false">VUE.js</el-link>
        <el-link href="https://weui.hamm.cn/" target="_blank" :underline="false">WeUI Pro</el-link>
        <el-link href="https://www.kancloud.cn/manual/thinkphp6_0/1037479" target="_blank" :underline="false">ThinkPHP6
        </el-link>
        <el-link href="https://www.easywechat.com/docs" target="_blank" :underline="false">EasyWeChat</el-link>
    </div>
    {include file="common/footer"/}
    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                }
            },
            methods: {
            }
        })
    </script>


</html>