<!DOCTYPE html>
<html>

<head>
    <title>Start Admin</title>
    {include file="common/header"/}
    <h1>开发手册</h1>
    <el-link href="https://gitee.com/hamm/StartAdmin" target="_blank" :underline="false">StartAdmin 开源仓库</el-link>
    <br>
    <br>
    <el-link href="https://element.eleme.cn/" target="_blank" :underline="false">ElementUI 使用手册</el-link>
    <br>
    <br>
    <el-link href="https://cn.vuejs.org/v2/api/" target="_blank" :underline="false">VUE 开发者文档</el-link>
    <br>
    <br>
    <el-link href="https://weui.hamm.cn/" target="_blank" :underline="false">WeUI Pro文档</el-link>
    <br>
    <br>
    <el-link href="https://www.kancloud.cn/manual/thinkphp6_0/1037479" target="_blank" :underline="false">ThinkPHP6 开发文档</el-link>
    <br>
    <br>
    <el-link href="https://www.easywechat.com/docs" target="_blank" :underline="false">EasyWeChat 开发文档</el-link>
    {include file="common/footer"/}
    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                }
            },
            methods: {
            }
        })
    </script>


</html>