<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
<link rel="stylesheet" href="/static/css/weui.pro.css?version" />
<style>
    body,
    html {
        margin: 0;
        padding: 0;
        background-color: #eee;
    }

    .bg-fixed {
        background: #eee url();
        background-attachment: fixed;
        z-index: -1;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    v-cloak {
        visibility: hidden !important;
    }
</style>