<!DOCTYPE html>
<html>
    
    <head>
        <title>{$Think.config.app_name}</title>
        {include file="public/head_frame"/}
    </head>
    <body class="layui-layout-body">
        <div id="LAY_app" class="layadmin-tabspage-none">
            <div class="root_box" id="LAY_app_body" v-cloak>
                <form class="layui-form" action="" lay-filter="example">
                    
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户ID</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入用户ID" class="layui-input" v-model="item.access_user">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">AccessToken</label>
                        <div class="layui-input-block">
                            <input type="text" placeholder="请输入AccessToken" class="layui-input" v-model="item.access_token">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" @click="submit">立即提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
    {include file="public/foot_frame"/}
    <script>
    var app = new Vue({
        el: ".root_box",
        data: {
            item:{}
        },
        created() {
        },
        methods: {
            submit: function () {
                _loading();
                $.post("", this.item, function (data, status) {
                    _hideLoading();
                    console.log(data);
                    if (data.code != 0) {
                        _alert(data.msg);
                    } else {
                        parent.closewindow();
                    }
                });
            },
        }
    });
    </script>

</html>