<!DOCTYPE html>
<html>

<head>
    <title></title>
    {include file="common/header"/}

    <el-form :inline="true">
        <el-form-item>
            <el-button type="danger" icon="el-icon-delete" size="small" @click="postMultDelete">批量删除</el-button>
        </el-form-item>
    </el-form>
    <el-table :data="dataList.data" @selection-change="changeSelection" v-loading="loading">
        <el-table-column type="selection" width="50">
        </el-table-column>
        <el-table-column prop="code_id" label="ID" width="60">
        </el-table-column>
        <el-table-column prop="code_user" label="UserID" width="100">
        </el-table-column>
        <el-table-column prop="code_code" label="凭证">
        </el-table-column>
        <el-table-column label="状态" width="100">
            <template slot-scope="scope">
                <font v-if="scope.row.node_system==0">未使用</font>
                <font v-if="scope.row.node_system!=0" style="color:#aaa;">已使用</font>
            </template>
        </el-table-column>
        <el-table-column label="操作" width="100">
            <template slot-scope="scope">
                <el-link type="danger" @click="clickDelete(scope.row)" :underline="false"><i
                        class="el-icon-delete"></i>删除</el-link>
            </template>
        </el-table-column>

    </el-table>

    <el-pagination background @current-change="changeCurrentPage" layout="prev, pager, next"
        :current-page="dataList.current_page" :page-count="dataList.last_page" :total="dataList.total"
        :hide-on-single-page="true" style="margin-top: 10px;text-align: right;">
    </el-pagination>


    {include file="common/footer"/}
    <script>
        new Vue({
            el: '#app',
            data() {
                this.getList();
                return {
                    search: {
                        keyword: "",
                        filter: "code_code"
                    },
                    loading: true,
                    dataList: [],
                    selectList: [],
                    form: {
                        page: 1
                    },
                }
            },
            methods: {
                postMultDelete() {
                    var that = this;
                    if (that.selectList.length == 0) {
                        that.$message.error('未选择任何临时凭据！');
                        return;
                    }
                    this.$confirm('即将删除选中的临时凭据, 是否确认?', '批量删除', {
                        confirmButtonText: '删除',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.post('/api/code/delete', {
                            ...PostBase, ...{
                                code_id: that.selectList.join(",")
                            }
                        })
                            .then(function (response) {
                                that.getList();
                                if (response.data.code == CODE_SUCCESS) {
                                    that.$message({
                                        message: response.data.msg,
                                        type: 'success'
                                    });
                                } else {
                                    that.$message.error(response.data.msg);
                                }
                            })
                            .catch(function (error) {
                                that.$message.error('服务器内部错误');
                            });
                    }).catch(() => {
                    });
                },
                changeSelection(list) {
                    var that = this;
                    that.selectList = [];
                    for (var index in list) {
                        that.selectList.push(list[index].code_id);
                    }
                },
                clickDelete(row) {
                    var that = this;
                    this.$confirm('即将删除这个临时凭据, 是否确认?', '删除提醒', {
                        confirmButtonText: '删除',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.post('/api/code/delete', {
                            ...PostBase, ...{
                                code_id: row.code_id
                            }
                        })
                            .then(function (response) {
                                that.getList();
                                if (response.data.code == CODE_SUCCESS) {
                                    that.$message({
                                        message: response.data.msg,
                                        type: 'success'
                                    });
                                } else {
                                    that.$message.error(response.data.msg);
                                }
                            })
                            .catch(function (error) {
                                that.$message.error('服务器内部错误');
                            });
                    }).catch(() => {
                    });
                },
                changeCurrentPage(page) {
                    this.form.page = page;
                    this.getList();
                },
                getList() {
                    var that = this;
                    that.loading = true;
                    axios.post('/api/code/getList', { ...PostBase, ...that.form, ...that.search })
                        .then(function (response) {
                            that.loading = false;
                            if (response.data.code == CODE_SUCCESS) {
                                that.dataList = response.data.data;
                            } else {
                                that.$message.error(response.data.msg);
                            }
                        })
                        .catch(function (error) {
                            that.loading = false;
                            that.$message.error('服务器内部错误');
                        });
                }
            }
        })
    </script>


</html>