<center style="margin-top:10%;">
    <img src="/static/StartAdmin/StartAdmin.png" width="500px" />
    <br><a style="color:#666;text-decoration: none;" href="/admin" target="_blank">管理后台</a>
    <a style="color:#666;text-decoration: none;" href="/api" target="_blank">API</a>
    <a style="color:#666;text-decoration: none;" href="/thirdlogin" target="_blank">第三方登录</a>
    <a style="color:#666;text-decoration: none;" href="/wechat" target="_blank">微信授权</a>
    <a style="color:#666;text-decoration: none;" href="/wechat/service" target="_blank">微信接入</a>
    <a style="color:#666;text-decoration: none;" href="/wechat/pay" target="_blank">微信支付</a>
</center>